# Default ignored files
*.idea
/shelf/
log/logfile.log
log/errorLogfile.log
/dependencies/*
/workspace.xml
/public/output/tiktok_post_list.json
/public/output/tiktok_cmp_infl_list.json
/public/input/Eqqualberry_Toner_Contents_Guideline.pdf
/public/input/Eqqualberry_Cleanser_Contents_Guideline.pdf
# Byte-compiled / optimized / DLL files
__pycache__/
#*.py[cod]
token.json