[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
flask = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
flask-cors = "*"
mysql-connector-python = "*"
pytz = "*"
pydash = "*"
tikapi = "*"
urllib3 = "==1.26.6"

[dev-packages]

[requires]
python_version = "3.9"
